<a href="https://colab.research.google.com/github/IngerMasha/week7_day4/blob/main/ExercisesXPGold.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercises XP

In [5]:
import pandas as pd
titanic_data = pd.read_csv('/content/tested.csv')
print("First few rows of the dataset:")
print(titanic_data.head())

First few rows of the dataset:
   PassengerId  Survived  Pclass  \
0          892         0       3
1          893         1       3
2          894         0       2
3          895         0       3
4          896         1       3

                                           Name     Sex   Age  SibSp  Parch  \
0                              Kelly, Mr. James    male  34.5      0      0
1              Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                     Myles, Mr. Thomas Francis    male  62.0      0      0
3                              Wirz, Mr. Albert    male  27.0      0      0
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1

    Ticket     Fare Cabin Embarked
0   330911   7.8292   NaN        Q
1   363272   7.0000   NaN        S
2   240276   9.6875   NaN        Q
3   315154   8.6625   NaN        S
4  3101298  12.2875   NaN        S

In [ ]:
iris_data = pd.read_csv('/content/iris.csv')
print("First few rows of the dataset:")
print(iris_data.head())

First few rows of the dataset:
   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
import requests
url = 'https://jsonplaceholder.typicode.com/posts'
response = requests.get(url)
json_data = response.json()
df = pd.DataFrame(json_data)
print(df.head())

   userId  id                                              title  \
0       1   1  sunt aut facere repellat provident occaecati e...
1       1   2                                       qui est esse
2       1   3  ea molestias quasi exercitationem repellat qui...
3       1   4                               eum et est occaecati
4       1   5                                 nesciunt quas odio

                                                body
0  quia et suscipit\nsuscipit recusandae consequu...
1  est rerum tempore vitae\nsequi sint nihil repr...
2  et iusto sed quo iure\nvoluptatem occaecati om...
3  ullam et saepe reiciendis voluptatem adipisci\...
4  repudiandae veniam quaerat sunt sed\nalias aut...

In [ ]:
df = pd.read_excel('/content/file_example_XLS_10.xls')

print(df.head())

   0 First Name  Last Name  Gender        Country  Age        Date    Id
0  1      Dulce      Abril  Female  United States   32  15/10/2017  1562
1  2       Mara  Hashimoto  Female  Great Britain   25  16/08/2016  1582
2  3     Philip       Gent    Male         France   36  21/05/2015  2587
3  4   Kathleen     Hanner  Female  United States   25  15/10/2017  3549
4  5    Nereida    Magwood  Female  United States   58  16/08/2016  2468

In [14]:
data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Age': [28, 24, 35, 32],
    'City': ['New York', 'Paris', 'Berlin', 'London']
}
df = pd.DataFrame(data)
print(df)
df.to_excel('output.xlsx', index=False)
df.to_json('output.json', orient='records', lines=True)

    Name  Age      City
0   John   28  New York
1   Anna   24     Paris
2  Peter   35    Berlin
3  Linda   32    London

**Exercises XP Gold**

Exercise 1 : Export A Dataframe To JSON With Orient (Easy)

In [15]:
data = {
    'UserID': range(1, 11),
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma',
             'Frank', 'Grace', 'Hannah', 'Ian', 'Jane'],
    'Age': [25, 30, 35, 40, 29, 34, 28, 31, 36, 33],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix',
             'Philadelphia', 'San Antonio', 'San Diego', 'Dallas', 'San Jose']
}
df = pd.DataFrame(data)
print("DataFrame:")
print(df)

DataFrame:
   UserID     Name  Age          City
0       1    Alice   25      New York
1       2      Bob   30   Los Angeles
2       3  Charlie   35       Chicago
3       4    David   40       Houston
4       5     Emma   29       Phoenix
5       6    Frank   34  Philadelphia
6       7    Grace   28   San Antonio
7       8   Hannah   31     San Diego
8       9      Ian   36        Dallas
9      10     Jane   33      San Jose

In [16]:
df.to_json('data_records.json', orient='records', lines=True)
df.to_json('data_index.json', orient='index')
df.to_json('data_columns.json', orient='columns')
df.to_json('data_values.json', orient='values')
df.to_json('data_table.json', orient='table')

Exercise 2: Export A Dataframe From Excel

In [17]:
data = pd.DataFrame({
    'Date': pd.date_range('20210101', periods=20),
    'Product': ['Product A', 'Product B', 'Product C'] * 6 + ['Product A', 'Product B'],
    'Quantity': [2, 3, 5, 7, 1] * 4,
    'Revenue': [210.50, 340.60, 450.30, 120.10, 150.75] * 4
})

print("DataFrame:")
print(data)

DataFrame:
         Date    Product  Quantity  Revenue
0  2021-01-01  Product A         2   210.50
1  2021-01-02  Product B         3   340.60
2  2021-01-03  Product C         5   450.30
3  2021-01-04  Product A         7   120.10
4  2021-01-05  Product B         1   150.75
5  2021-01-06  Product C         2   210.50
6  2021-01-07  Product A         3   340.60
7  2021-01-08  Product B         5   450.30
8  2021-01-09  Product C         7   120.10
9  2021-01-10  Product A         1   150.75
10 2021-01-11  Product B         2   210.50
11 2021-01-12  Product C         3   340.60
12 2021-01-13  Product A         5   450.30
13 2021-01-14  Product B         7   120.10
14 2021-01-15  Product C         1   150.75
15 2021-01-16  Product A         2   210.50
16 2021-01-17  Product B         3   340.60
17 2021-01-18  Product C         5   450.30
18 2021-01-19  Product A         7   120.10
19 2021-01-20  Product B         1   150.75

In [19]:
from openpyxl import Workbook
from openpyxl.utils.dataframe import dataframe_to_rows
from openpyxl.styles import Font, Alignment, NamedStyle
wb = Workbook()
ws = wb.active
ws.title = "Sales Data"
for r in dataframe_to_rows(data, index=False, header=True):
    ws.append(r)

In [20]:
number_format = NamedStyle(name="number_format")
number_format.number_format = '#,##0.00'
for cell in ws['C'][1:]:
    cell.style = number_format
for cell in ws['D'][1:]:
    cell.style = number_format

In [ ]:
header_font = Font(bold=True)
header_alignment = Alignment(horizontal='center')
for cell in ws[1]:
    cell.font = header_font
    cell.alignment = header_alignment

In [21]:
for column in ws.columns:
    max_length = 0
    column = list(column)
    for cell in column:
        try:
            if len(str(cell.value)) > max_length:
                max_length = len(cell.value)
        except:
            pass
    adjusted_width = (max_length + 2)
    ws.column_dimensions[column[0].column_letter].width = adjusted_width

In [22]:
wb.save("sales_data.xlsx")

Exercise 3: Chunking Large Datasets

In [6]:
import pandas as pd

input_file = 'lectures.csv'
output_file = 'result.csv'
chunksize = 1000
first_chunk = True
for chunk in pd.read_csv(input_file, chunksize=chunksize):
    chunk_sum = chunk.sum(numeric_only=True)
    result_df = pd.DataFrame(chunk_sum).transpose()
    if first_chunk:
        result_df.to_csv(output_file, mode='w', index=False)
        first_chunk = False
    else:
        result_df.to_csv(output_file, mode='a', header=False, index=False)

test = pd.read_csv('/content/result.csv')
print(test.head())

First few rows of the dataset:
   lecture_id    tag  part
0     7099062  39493  1784

Exercise 4: Using Efficient File Formats

Exercise 4: Using Efficient File Formats
Instructions
Re-use the same large DataFrame in your Python environment from exercise 5.
Export the DataFrame into a Parquet file.
Note the difference in file size and read/write speeds compared to CSV format.
Code Example:

large_df.to_parquet('large_data.parquet')
-

In [5]:
import pandas as pd
import time
import os

# input_file = 'lectures.csv'
# input_file = '/content/example_sample_submission.csv'
# input_file = '/content/example_test.csv'
input_file = '/content/questions.csv'

start_time = time.time()
large_df = pd.read_csv(input_file)
csv_read_time = time.time() - start_time
print(f"Loading time CSV: {csv_read_time:.2f} sec")

Время загрузки CSV: 0.02 секунд

In [6]:
start_time = time.time()
large_df.to_parquet('large_data.parquet')
parquet_write_time = time.time() - start_time
print(f"Loading time в Parquet: {parquet_write_time:.2f} sec")

Loading time в Parquet: 0.12 sec

In [7]:
csv_size = os.path.getsize(input_file)
parquet_size = os.path.getsize('large_data.parquet')

print(f"CSV file size: {csv_size / (1024 * 1024):.2f} МБ")
print(f"Parquet file size: {parquet_size / (1024 * 1024):.2f} МБ")

CSV file size: 0.28 МБ
Parquet file size: 0.17 МБ